{{#if posts.length}}
  {{#each posts}}
    <div class=" mx-10 my-10">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3 mb-6 md:mb-0 bg-gray-800 text-white">
           <a href="/dashboard/editDeletePost/{{id}}">{{title}}</a>
            <span id="postDate" class = "origin-top-right absolute right-20 text-white">{{user.username}} {{format_date createdAt}}</span>
        </div>
    </div>
        <div class="block">
            <span class="text-gray-700">{{body}}</span>
        </div>
    </div>
    </div>
  {{/each}}
{{else}}
  <h1 class = "text-3xl text-center text-blue-400">You have no posts</h1>
{{/if}}

<div class="flex items-center justify-center my-5">
  <button class="bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" id="newPostBtn">
    New Post
  </button>
</div>


<script src="/js/dashboard.js"></script>